body {
    background-color:bisque;
}

button {
    width: 600px;
    height: 30px; 
    margin-bottom: 10px;
    border-radius: 10px;
    background-color:gold;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(197, 174, 45);
}

.App {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Phones ul {
    list-style: none;
}

.Phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Phone img {
    height: 180px;
}